app = "rootvscode"
primary_region = "nrt"

[build]
  dockerfile = "Dockerfile"

[vm]
  cpu_kind = "performance"
  cpus = 16
  memory_mb = 131072  # 128GB 램 풀파워

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[mounts]]
  source = "code_data"
  destination = "/home/coder"
  initial_size = "500gb"

[env]
  PASSWORD = ""
  VSCODE_AUTH = "none"
  HOME = "/root"
  USER = "root"
  QEMU_AUDIO_DRV = "pa" 
  SDL_AUDIODRIVER = "pulse"
  MAKEFLAGS = "-j16"
