app = "kvm-root-fortress" # 원하는 이름으로 변경하세요
primary_region = "nrt" # 지휘관님 위치(한국)와 가까운 도쿄(nrt) 추천

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[mounts]]
  source = "vol_data"
  destination = "/root"
  initial_size = "500gb" # 500GB 디스크 연결

[[services]]
  protocol = "tcp"
  internal_port = 8006
  ports = [
    { port = 8006, handlers = ["http", "tls"] }
  ]
